In [1]:
from ctgan import CTGANSynthesizer
from ctgan import load_demo
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/mmrha/Desktop/cmu/Independent study/python/winemin.csv")

data.head()

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,ALEVEN,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND
0,11,1,3,3,3,2,7,0,0,9,...,0,0,0,0,2,0,0,1,0,0
1,38,1,3,3,9,0,5,1,3,7,...,0,0,0,0,1,0,0,0,0,0
2,12,1,3,2,3,0,6,0,3,7,...,0,0,0,1,1,0,0,0,0,0
3,9,1,2,3,3,0,6,1,2,7,...,0,0,0,0,0,0,0,0,0,0
4,36,1,2,4,8,2,4,2,2,7,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Names of the columns that are discrete
discrete_columns = [
    "MOSTYPE","MAANTHUI","MGEMOMV","MGEMLEEF","MOSHOOFD","MGODRK","MGODPR","MGODOV","MGODGE","MRELGE","MRELSA","MRELOV","MFALLEEN","MFGEKIND","MFWEKIND","MOPLHOOG","MOPLMIDD","MOPLLAAG","MBERHOOG","MBERZELF","MBERBOER","MBERMIDD","MBERARBG","MBERARBO","MSKA","MSKB1","MSKB2","MSKC","MSKD","MHHUUR","MHKOOP","MAUT1","MAUT2","MAUT0","MZFONDS","MZPART","MINKM30","MINK3045","MINK4575","MINK7512","MINK123M","MINKGEM","MKOOPKLA","PWAPART","PWABEDR","PWALAND","PPERSAUT","PBESAUT","PMOTSCO","PVRAAUT","PAANHANG","PTRACTOR","PWERKT","PBROM","PLEVEN","PPERSONG","PGEZONG","PWAOREG","PBRAND","PZEILPL","PPLEZIER","PFIETS","PINBOED","PBYSTAND","AWAPART","AWABEDR","AWALAND","APERSAUT","ABESAUT","AMOTSCO","AVRAAUT","AAANHANG","ATRACTOR","AWERKT","ABROM","ALEVEN","APERSONG","AGEZONG","AWAOREG","ABRAND","AZEILPL","APLEZIER","AFIETS","AINBOED","ABYSTAND"
]

ctgan = CTGANSynthesizer(epochs=1000)
ctgan.fit(data, discrete_columns)

In [4]:
# Synthetic copy
samples = ctgan.sample(30000)

In [5]:
samples

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,ALEVEN,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND
0,23,1,4,3,7,1,4,2,0,7,...,0,0,0,0,1,0,0,0,0,0
1,4,1,2,3,8,0,5,1,5,7,...,0,0,0,0,0,0,0,0,0,0
2,3,1,3,2,8,0,2,0,2,7,...,0,0,0,0,1,0,0,0,0,0
3,32,1,4,2,2,0,1,1,2,7,...,0,0,0,0,0,0,0,0,0,0
4,3,1,2,2,8,0,7,0,5,6,...,2,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,23,2,2,4,2,2,2,1,4,4,...,0,0,0,0,2,0,0,0,0,0
29996,33,1,1,4,8,2,6,0,1,8,...,1,0,0,0,0,0,0,0,0,0
29997,10,1,2,4,8,0,6,0,4,5,...,0,0,0,0,0,0,0,0,0,0
29998,3,1,3,2,9,1,2,0,2,9,...,0,0,0,0,0,0,0,0,0,0
29999,36,1,2,4,3,1,4,2,4,7,...,0,0,0,0,1,0,0,0,0,0

In [6]:
samples.to_csv("C:/Users/mmrha/Desktop/cmu/Independent study/python/caravansyn1000_30000.csv")